* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    color: #E8EAE6;
    background: #050306;
}

html{
    scroll-behavior: smooth;
}

.mensagem{
    padding: 10px 40px;
    border-radius: 5px;
    position: fixed;
    top: 120px;
    right: 5px;
    z-index: 9999;
    animation: reverse_appear 0.8s ease-in-out;
}

.warning{
    background: #fff3cd;
    color: #856404;
}

.success{
    background: #c2d8c7;
    color: #155724;
}

.error{
    background: #f8d7da;
    color: #721c24;
    margin-bottom: 20px;
}

.glass{
    background: rgba(255,255,255,0.08);
    border: 1px solid rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 30px;
}

.glass-h {
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255,255,255,0.2);
}

@keyframes appear{
    from {
        opacity: 0;
        translate: -100vw 0;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes reverse_appear{
    from {
        opacity: 0;
        translate: 100vw 0;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes TopToDown {
    from {
        opacity: 0;
        transform: translate(-50%, -120px);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

.header {
    color: #E8EAE6;
    position: fixed;
    top: 22px;
    left: 50%;
    border-radius: 40px;
    z-index: 1000;
    width: 80%;
    max-width: 1500px;
    height: 48px;
    display: flex;
    align-items: center;

    animation: TopToDown 1.2s ease-out forwards;
}

.header nav{
    width: 100%;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header a{
    color: inherit;
    text-decoration: none;
}

.menu{
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: 600;
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bolder;
}

.icons{
    display: flex;
    align-items: center;
    gap: 20px;
}

.account a{
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 0%;
    width: 350px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background: #D9D9D9;
    padding: 20px;
    margin: 20px;
}

.user-infos{
    color: #525252;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-links{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-links img{
    width: 40px;
    height: 40px;
    background: #D9D9D9;
    border-radius: 20%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-links p{
    width: 100%;
    color: #525252;
}

.sub-menu-links span{
    color: #525252;
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-links:hover span{
    transform: translateX(5px);
}

.sub-menu-links:hover p{
    font-weight: 600;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h3{
    font-weight: 500;
}

.user-info img{
    width: 60px;
    margin-right: 15px;
}

nav img{
    width: 35px;
    height: auto;
}

.hero{
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.hero img {
    width: 100%;
    display: block;
}

.hero-titulo{
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;

    animation: TopToDown 1.5s ease-in-out forwards;
}

.hero-titulo h1{
    font-size: 70px;
}

.hero-titulo h3{
    font-size: 64px;
}

.hero-titulo h6{
    font-size: 16px;
}

.lata-titulo{
    position: absolute;
    top: 490px;
    left: 50%;
}

#lata1{
    width: auto;
    height: 580px;

    animation: TopToDown 1.2s ease-out forwards;
}

.diferenciais{
    margin-top: 6rem;

    animation: appear 3s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

#diferenciais{
    scroll-margin-top: 100px;
}

.box{
    background: #13061B;
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: space-between;
}

.cards-infos{
    width: 100%;
    padding: 100px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cards-infos h2{
    font-size: 48px;
    margin-bottom: 40px;
}

.cards{
    display: flex;
    gap: 20px;
}

.dif-box1{
    width: 320px;
    min-height: 380px;
}

.dif-box1 h5{
    font-size: 28px;
    margin-bottom: 25px;
}

.dif-box1 ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
}

.right-cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.row{
    display: flex;
    gap: 20px;
}

.row .glass{
    flex: 1;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row h5{
    font-size: 24px;
}

.latas{
    display: flex;
    align-items: center;
    gap: 20px;
}

#latas-subs{
    display: flex;
    align-items: center;
    gap: 15px;
}

.principal{
    height: 520px;
    width: auto;
    flex-shrink: 0;
}

.subs{
    height: 480px;
    width: auto;
    filter: opacity(0.6);
    transition: .3s;
    cursor: pointer;
}

.subs:hover{
    filter: opacity(1);
    transform: scale(1.01);
}

#latas-subs{
    display: flex;
    gap: 15px;
    overflow-x: auto;
    max-width: 800px;
    scrollbar-width: none;
}

#latas-subs::-webkit-scrollbar{
    display: none;
}

.buttons{
    margin: 20px 250px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.arrow-btn {
    border-radius: 400px;
    background-color: #D9D9D9;
}

.arrow-btn img {
    width: 40px;
    height: auto;
    padding: 5px;
}

.procucts-btn {
    font-size: 18px;
    color: #E8EAE6;
    background-color: #160720;
    width: 150px;
    height: 40px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

.empresa {
    margin-top: 8rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    animation: appear 3s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

#empresa{
    scroll-margin-top: 100px;
}

.empresa-titulo{
    text-align: center;
    font-size: 28px;
}

.empresa-content{
    display: flex;
    padding: 100px 135px;
    gap: 20px;
}

.empresa-infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.empresa-box{
    background-color: #160720;
    padding: 22px;
    border-radius: 10px;
}

.empresa-box img{
 width: 550px;
 height: auto;
}

.footer {
    width: 100%;
    height: 200px;
    background: #160720;
    background: linear-gradient(0deg,rgba(22, 7, 32, 1) 79%, rgba(5, 3, 6, 1) 100%);
}

@media screen and (max-width: 1440px) and (max-height: 900px){

    .header{
        width: 85%;
        height: 44px;
    }

    .menu{
        gap: 30px;
    }

    nav img{
        width: 30px;
    }

    .hero-titulo{
        top: 140px;
    }

    .hero-titulo h1{
        font-size: 56px;
    }

    .hero-titulo h3{
        font-size: 50px;
    }

    .hero-titulo h6{
        font-size: 14px;
    }

    .lata-titulo{
        top: 355px;
    }

    #lata1{
        width: auto;
        height: 380px;
    }

    .diferenciais{
        margin-top: 2rem;
    }

    .box{
        height: 560px;
    }

    .cards-infos{
        padding: 60px;
    }

    .cards-infos h2{
        font-size: 38px;
        margin-bottom: 25px;
    }

    .cards{
        gap: 15px;
    }

    .dif-box1{
        width: 280px;
        min-height: 320px;
    }

    .dif-box1 h5{
        font-size: 22px;
        margin-bottom: 20px;
    }

    .dif-box1 ul{
        font-size: 14px;
        gap: 8px;
    }

    .row{
        gap: 15px;
    }

    .row .glass{
        height: 150px;
    }

    .row h5{
        font-size: 20px;
    }

    .principal{
        height: 430px;
    }

    .subs{
        height: 300px;
    }

    #latas-subs{
        max-width: 320px;
        gap: 10px;
    }

    .buttons{
        margin: 20px 80px;
    }

    .arrow-btn img{
        width: 32px;
    }

    .procucts-btn{
        width: 140px;
        height: 36px;
        font-size: 16px;
    }

    .empresa{
        margin-top: 5rem;
    }

    .empresa-titulo{
        font-size: 24px;
    }

    .empresa-content{
        padding: 60px 90px;
        gap: 30px;
    }

    .empresa-infos h4{
        font-size: 22px;
    }

    .empresa-infos p{
        font-size: 15px;
    }

    .empresa-box img{
        width: 450px;
    }

    .footer{
        height: 150px;
    }
}