<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/logo_b.png') }}">
    <title>Vortex - Energia que Impulsiona</title>
</head>
<body>

    <main class="container">
        <header class="header glass-h">
            <nav>
                <div class="logo">
                    <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo.png') }}"></a>
                    <a href="{{ url_for('index') }}">Vortex</a>
                </div>
                
                <div class="menu">
                    <a href="{{ url_for('produtos') }}">Produtos</a>
                    <a href="{{ url_for('index') }}#diferenciais">Diferenciais</a>
                    <a href="{{ url_for('index') }}#empresa">Empresa</a>
                </div>
                
                <div class="icons">
                    {% if current_user.is_authenticated %}
                    <div class="account" onclick="abrirMenu()">
                        <a href="#"><img src="{{ url_for('static', filename='img/user.png') }}">{{current_user.nome.split()[0]}} {{current_user.nome.split()[1][0]}}.</a>
                    </div>
                    <div class="sub-menu-wrap" id="subMenu">
                        <div class="sub-menu">
                            <div class="user-infos">
                                <h2>{{current_user.nome.split()[0]}} {{current_user.nome.split()[1]}}</h2>
                            </div>
                            <hr>
                            <a href="{{ url_for('logout') }}" class="sub-menu-links">
                                <img src="../static/img/logout.png" alt="Ícone Logout">
                                <p>Logout</p>
                                <span>></span>
                            </a>
                        </div>
                    </div>
                    {% else %}
                    <div class="account">
                        <a href="{{ url_for('login') }}"><img src="{{ url_for('static', filename='img/user.png') }}">Faça Login</a>
                    </div>
                    {% endif %}
                    
                    <a href="{{ url_for('carrinho') }}"><img src="{{ url_for('static', filename='img/cart.png') }}"></a>
                </div>
            </nav>
        </header>

        <section class="hero">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% for categoria, mensagem in messages %}
                    <div class="mensagem {{ categoria }}">
                        {{ mensagem }}
                    </div>
                {% endfor %}
            {% endwith %}
            <img src="{{ url_for('static', filename='img/background.png') }}" alt="Background">
            <div class="hero-titulo">
                <h1>Entre no Fluxo</h1>
                <h3>a Cada Gole</h3>
                <h6>Energia intensa, mente afiada</h6>
                <h6>e potência a cada gole.</h6>
            </div>
            <div class="lata-titulo">
                <img src="{{ url_for('static', filename='img/lata1.png') }}" id="lata1" alt="Vortex Classic">
            </div>
        </section>

        <section class="diferenciais" id="diferenciais">
            <div class="box">
                <div class="cards-infos">
                    <h2 id="nome-produto">Vortex Classic</h2>
                    <div class="cards">
                        <div class="dif-box1 glass">
                            <h5>Fórmula Vortex</h5>
                            <ul id="ingredientes">
                                <li>Cafeína Natural</li>
                                <li>Taurina Premium</li>
                                <li>Complexo B (B3, B6, B12)</li>
                                <li>Guaraná Natural</li>
                                <li>L-Carnitina Ativa</li>
                                <li>Baixas Calorias</li>
                            </ul>
                        </div>

                        <div class="right-cards">
                            <div class="row">
                                <div class="dif-box2 glass">
                                    <h5 id="beneficio1">+ Potência</h5>
                                </div>
                
                                <div class="dif-box3 glass">
                                    <h5 id="beneficio2">+ Performance</h5>
                                </div>
                            </div>
                
                            <div class="row">
                                <div class="dif-box4 glass">
                                    <h5 id="beneficio3">+ Foco Mental</h5>
                                </div>
                
                                <div class="dif-box5 glass">
                                    <h5 id="beneficio4">+ Energia Vortex</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="latas">
                    <img id="lata-principal" class="principal">
        
                    <div id="latas-subs"></div>
                </div>
            </div>
            <div class="buttons">
                <button class="arrow-btn" id="btn-anterior"><img src="{{ url_for('static', filename='img/left-arrow.png') }}"></button>
                <button class="arrow-btn" id="btn-proximo"><img src="{{ url_for('static', filename='img/right-arrow.png') }}"></button>
                <a href="{{ url_for('produtos') }}"><button class="procucts-btn"><img>Ver Produtos</button></a>
            </div>
        </section>

        <section class="empresa" id="empresa">
            <div class="empresa-titulo">
                <h3>Vortex Energy</h3>
                <h6>Desde 2025</h6>
            </div>
            <div class="empresa-content">
                <div class="empresa-infos">
                    <h4>Quem Somos</h4>
                    <p>
                    A Vortex nasceu da paixão por criar experiências únicas e energizantes. 
                    Fundada em 2023, nossa empresa surgiu com a missão de revolucionar o 
                    mercado de bebidas energéticas, trazendo sabores inovadores 
                    e design diferenciado.
                    </p>
                    <br>
                    <h4>Nossa Missão</h4>
                    <p>
                        Proporcionar energia e vitalidade através de produtos de alta qualidade, 
                        sempre respeitando a saúde de nossos consumidores e o meio ambiente.
                    </p>
                </div>
                <div class="empresa-box">
                    <img src="{{ url_for('static', filename='img/Latas.png') }}" alt="Latas">
                </div>
            </div>
        </section>

        <footer class="footer"></footer>
    </main>

    <script> 
        const produtos = {{ produtos|tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/aviso.js') }}"></script>
    <script src="{{ url_for('static', filename='js/perfil_menu.js') }}"></script>
</body>
</html>