<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>

    <main class="container">
        <header class="header glass-h">
            <nav>
                <div class="logo">
                    <a href="#"><img src="../static/img/logo.png"></a>
                    <a href="#">Vortex</a>
                </div>
        
                <div class="menu">
                    <a href="#">Produtos</a>
                    <a href="#">Diferenciais</a>
                    <a href="#">Empresa</a>
                </div>
        
                <div class="icons">
                    <a href="#"><img src="../static/img/user.png"></a>
        
                    <a href="#"><img src="../static/img/cart.png"></a>
                </div>
            </nav>
        </header>

        <section class="hero">
            <img src="../static/img/background.png" alt="Background">
            <div class="hero-titulo">
                <h1>Entre no Fluxo</h5>
                <h3>a Cada Gole</h3>
                <h6>Energia intensa, mente afiada</h6>
                <h6>e potência a cada gole.</h6>
            </div>
            <div class="lata-titulo">
                <img src="../static/img/lata1.png" id="lata1" alt="Vortex Classic">
            </div>
        </section>

        <section class="diferenciais">
            <div class="box">
                <div class="cards-infos">
                    <h2>Vortex Classic</h2>
                    <div class="cards">
                        <div class="dif-box1 glass">
                            <h5>Fórmula Vortex</h5>
                            <ul>
                                <li>Cafeína Natural</li>
                                <li>Taurina Premium</li>
                                <li>Complexo B (B3, B6, B12)</li>
                                <li>Guaraná Natural</li>
                                <li>L-Carnitina Ativa</li>
                                <li>Baixas Calorias</li>
                            </ul>
                        </div>

                        <div class="right-cards">
                            <div class="row">
                                <div class="dif-box2 glass">
                                    <h5>+ Potência</h5>
                                </div>
                
                                <div class="dif-box3 glass">
                                    <h5>+ Performance</h5>
                                </div>
                            </div>
                
                            <div class="row">
                                <div class="dif-box4 glass">
                                    <h5>+ Foco Mental</h5>
                                </div>
                
                                <div class="dif-box5 glass">
                                    <h5>+ Energia Vortex</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="latas">
                    <img src="../static/img/lata1.png">
                    <img src="../static/img/lata2.png">
                    <img src="../static/img/lata3.png">
                    <img src="../static/img/lata4.png">
                </div>
            </div>
            <div class="buttons">
                <button class="arrow-btn"><img src="../static/img/left-arrow.png"></button>
                <button class="arrow-btn"><img src="../static/img/right-arrow.png"></button>
                <button class="procucts-btn"><img>Ver Produtos</button>
            </div>
        </section>

        <section class="empresa">
            <div class="empresa-titulo">
                <h3>Vortex Energy</h3>
                <h6>Desde 2025</h6>
            </div>
            <div class="empresa-content">
                <div class="empresa-infos">
                    <h4>Quem Somos</h4>
                    <p>
                    A Vortex nasceu da paixão por criar experiências únicas e energizantes. 
                    Fundada em 2023, nossa empresa surgiu com a missão de revolucionar o 
                    mercado de bebidas energéticas, trazendo sabores inovadores 
                    e design diferenciado.
                    </p>
                    <br>
                    <h4>Nossa Missão</h4>
                    <p>
                        Proporcionar energia e vitalidade através de produtos de alta qualidade, 
                        sempre respeitando a saúde de nossos consumidores e o meio ambiente.
                    </p>
                </div>
                <div class="empresa-box">
                    <img src="../static/img/Latas.png" alt="Latas">
                </div>
            </div>
        </section>

        <footer class="footer"></footer>
    </main>

    <script src="../static/js/script.js"></script>
</body>
</html>