<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/logo_b.png') }}">
    <title>Vortex | Entrar</title>
</head>
<body>

    <main class="content">
        <img src="{{ url_for('static', filename='img/background_login.png') }}" alt="Plano de Fundo de Login" class="background">

        <section class="form">
            <form action="" method="post" class="login-form glass">
                <div class="left-content">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo">
                    <img src="{{ url_for('static', filename='img/logo_name.png') }}" alt="Logo" class="logo nome">
                </div>
                
                <div class="right-content">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% for categoria, mensagem in messages %}
                            <div class="mensagem {{ categoria }}">
                                {{ mensagem }}
                            </div>
                        {% endfor %}
                    {% endwith %}
                    <div class="inputs">
                        <div class="row">
                            <label for="emailForm">E-mail</label>
                            <input type="text" id="emailForm" name="emailForm" placeholder="Insira o email" required>
                        </div>
                        
                        <div class="row">
                            <label for="password">Senha</label>
                            <input type="password" id="password" name="senhaForm" placeholder="Insira a senha" required>
                        </div>
                    </div>
        
                    <button type="submit" class="login-btn">Entrar</button>
                    <h5 class="cad-txt">Não possui uma conta? <a href="/cadastro">Cadastre-se</a></h5>
                </div>
            </form>
        </section>

    </main>

    <script src="{{ url_for('static', filename='js/credenciais.js') }}"></script>
    <script src="{{ url_for('static', filename='js/aviso.js') }}"></script>
</body>
</html>