<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/produtos.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/logo_b.png') }}">
    <title>Vortex | Produtos</title>
</head>
<body>

    <main class="container">
        <header class="header glass-h">
            <nav>
                <div class="logo">
                    <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo.png') }}"></a>
                    <a href="{{ url_for('index') }}">Vortex</a>
                </div>
                
                <div class="menu">
                    <a href="{{ url_for('produtos') }}">Produtos</a>
                    <a href="{{ url_for('index') }}#diferenciais">Diferenciais</a>
                    <a href="{{ url_for('index') }}#empresa">Empresa</a>
                </div>
                
                <div class="icons">
                    {% if current_user.is_authenticated %}
                    <div class="account" onclick="abrirMenu()">
                        <a href="#"><img src="{{ url_for('static', filename='img/user.png') }}">{{current_user.nome.split()[0]}} {{current_user.nome.split()[1][0]}}.</a>
                    </div>
                    <div class="sub-menu-wrap" id="subMenu">
                        <div class="sub-menu">
                            <div class="user-infos">
                                <h2>{{current_user.nome.split()[0]}} {{current_user.nome.split()[1]}}</h2>
                            </div>
                            <hr>
                            <a href="{{ url_for('logout') }}" class="sub-menu-links">
                                <img src="../static/img/logout.png" alt="Ícone Logout">
                                <p>Logout</p>
                                <span>></span>
                            </a>
                        </div>
                    </div>
                    {% else %}
                    <div class="account">
                        <a href="{{ url_for('login') }}"><img src="{{ url_for('static', filename='img/user.png') }}">Faça Login</a>
                    </div>
                    {% endif %}
                    
                    <a href="{{ url_for('carrinho') }}"><img src="{{ url_for('static', filename='img/cart.png') }}"></a>
                </div>
            </nav>
        </header>

        <section class="hero">
            <div class="products-cards">
                {% for produto in produtos %}
                <a href="{{ url_for('produto', id=produto.id) }}" class="produto">
                    <img src="{{ url_for('static', filename='img/exibicao_lata' ~ loop.index ~ '.png') }}" alt="Exibição de Lata" class="exib-lata">
                    <div class="product-name">
                        <h4>{{produto.nome}}</h4>
                        <h6>R$ {{ "%.2f"|format(produto.preco)|replace(".", ",") }}</h6>
                    </div>
                </a>
                {% endfor %}
            </div>
        </section>

        <footer class="footer"></footer>
    </main>

    <script src="{{ url_for('static', filename='js/products.js') }}"></script>
    <script src="{{ url_for('static', filename='js/perfil_menu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/aviso.js') }}"></script>
</body>
</html>