<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/produto.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/logo_b.png') }}">
    <title>Vortex | {{ produto.nome }}</title>
</head>
<body>

    <main class="container">
        <header class="header glass-h">
            <nav>
                <div class="logo">
                    <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo.png') }}"></a>
                    <a href="{{ url_for('index') }}">Vortex</a>
                </div>
                
                <div class="menu">
                    <a href="{{ url_for('produtos') }}">Produtos</a>
                    <a href="{{ url_for('index') }}#diferenciais">Diferenciais</a>
                    <a href="{{ url_for('index') }}#empresa">Empresa</a>
                </div>
                
                <div class="icons">
                    {% if current_user.is_authenticated %}
                    <div class="account" onclick="abrirMenu()">
                        <a href="#"><img src="{{ url_for('static', filename='img/user.png') }}">{{current_user.nome.split()[0]}} {{current_user.nome.split()[1][0]}}.</a>
                    </div>
                    <div class="sub-menu-wrap" id="subMenu">
                        <div class="sub-menu">
                            <div class="user-infos">
                                <h2>{{current_user.nome.split()[0]}} {{current_user.nome.split()[1]}}</h2>
                            </div>
                            <hr>
                            <a href="{{ url_for('logout') }}" class="sub-menu-links">
                                <img src="../static/img/logout.png" alt="Ícone Logout">
                                <p>Logout</p>
                                <span>></span>
                            </a>
                        </div>
                    </div>
                    {% else %}
                    <div class="account">
                        <a href="{{ url_for('login') }}"><img src="{{ url_for('static', filename='img/user.png') }}">Faça Login</a>
                    </div>
                    {% endif %}
                    
                    <a href="{{ url_for('carrinho') }}"><img src="{{ url_for('static', filename='img/cart.png') }}"></a>
                </div>
            </nav>
        </header>

        <section class="hero">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% for categoria, mensagem in messages %}
                    <div class="mensagem {{ categoria }}">
                        {{ mensagem }}
                    </div>
                {% endfor %}
            {% endwith %}
            <div class="product-exib">
                <img src="{{ url_for('static', filename='img/exibicao_lata' ~ produto.id ~ '.png') }}" alt="" class="exib">
            </div>
            <div class="product-card">
                <img src="" alt="">
                <div class="product-texts">
                    <h1>{{produto.nome}}</h1>
                    <h3>R$ {{ "%.2f"|format(produto.preco)|replace(".", ",") }}</h3>
                    <div class="product-desc">
                        <h5>{{produto.descricao}}</h5>
                    </div>
                </div>

                <div class="product-buttons">
                    <div class="sub-btns">
                        <div class="qtd">
                            <button type="button" onclick="diminuir()">-</button>
                            <h4 id="qtd-text">1</h4>
                            <button type="button" onclick="aumentar()">+</button>
                        </div>

                        <h6 class="estoque">Estoque: {{produto.estoque}}</h6>
                    </div>
                    <div class="btns">
                        {% if current_user.is_authenticated %}
                        <form action="{{ url_for('adicionar_carrinho', id=produto.id) }}" method="POST">
                            <input type="hidden" name="quantidade" value="1" id="quantidade-input">
                            <button class="add-cart-btn">
                                Adicionar ao carrinho
                            </button>
                        </form>
                        {% else %}
                        <form action="{{ url_for('adicionar_carrinho_erro', id=produto.id) }}" method="POST">
                            <button class="add-cart-btn">
                                Adicionar ao carrinho
                            </button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer"></footer>
    </main>

    <script src="{{ url_for('static', filename='js/products.js') }}"></script>
    <script src="{{ url_for('static', filename='js/aviso.js') }}"></script>
    <script src="{{ url_for('static', filename='js/perfil_menu.js') }}"></script>
</body>
</html>